# ESP32-C5 的蓝牙容量配置在 sdkconfig.defaults.esp32c5 中
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y

# 限制导入 JSON 的递归深度，适配本地 HTTP 任务栈
CONFIG_CJSON_NESTING_LIMIT=16

CONFIG_HTTPD_WS_SUPPORT=y
